.analysis {
    display:flex;
    height: 960px;
    flex-direction: column;
}

.analysisup {
    height:50%;
    /* background-color: lightgray; */
    display: flex;
}

.analysisdown {
    flex-grow: 1;
    height:50%;
    margin: 0px 10px 10px 10px;
    background-color: rgb(228, 228, 228);
}
/* #donut{
    vertical-align: middle;
} */

.indexpie {
    margin: 0px 5px 10px 10px;
    width: 25%;
    background-color: rgb(228, 228, 228);
    vertical-align: middle;
}


.middle {
    margin: 0px 10px 10px 5px;
    width:80%;
    background-color: rgb(228, 228, 228);
}

.indexpie .chart-container{
    padding-top: 5%;
}

.middle .chart-container{
    padding-top: 7%;
    padding-right: 40px;
    padding-left: 20px;
}

.middle .chart-container canvas{
    height: 300px;
    width: 700px;
}