.analysis {
    height: 900px;
    flex-direction: column;
    padding: 40px;
    padding-top: 30px;
    background-color: #edeef1;
    overflow: hidden;
    display: flex;
}

.analysisup {
    height:50%;
    display: flex;
}

.analysisdown {
    flex-grow: 1;
    height:50%;
    margin: 0px 10px 10px 10px;
    background-color: rgb(255, 255, 255);
    
}
/* #donut{
    vertical-align: middle;
} */

.indexpie {
    margin: 0px 5px 10px 10px;
    width: 25%;
    background-color: rgb(255, 255, 255);
    vertical-align: middle;
    box-shadow: 0 0 1px 1px rgb(0 0 0 / 10%);
}


.middle {
    margin: 0px 10px 10px 5px;
    width:80%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 1px 1px rgb(0 0 0 / 10%);
}

.indexpie .chart-container{
    padding: 50px;
    padding-top: 28px;
}

.middle .chart-container{
    padding-right: 40px;
    padding-left: 20px;
    padding-top: 25px;
}

.middle .chart-container canvas{
    height: 300px;
    width: 700px;
} 

