.analysis {
    display:flex;
    height: 960px;
    flex-direction: column;
}

.analysisup {
    height:50%;
    background-color: lightyellow;
    display: flex;
}

.analysisdown {
    flex-grow: 1;
    background-color: lightpink;
}

.indexpie {
    width: 30%;
    background-color: lightsalmon;
}

.middle {
    flex-grow: 1;
    display: flex;
}

.middletour{
    width: 33.3%;
    background-color: lightskyblue;
}

.middleinfra{
    flex-grow: 1;
    background-color: lightslategrey;
}

.middlenature{
    flex-grow:1;
}