.cost{
    display : flex;
    height: 900px;
    padding: 40px;
    padding-top: 30px;
    background-color: #edeef1;
}

.costleft{
    width: 40%;
    display: flex;
    flex-direction: column;
}

.costright{
    flex-grow: 1;
    background-color: rgb(255, 255, 255);
    margin: 0px 10px 10px 5px;
}

.costuse{
    height: 50%;
    background-color: rgb(255, 255, 255);
    margin: 0px 5px 5px 10px;
    padding-left: 15%;
}

.costarea{
    flex-grow: 1;
    background-color: rgb(255, 255, 255);
    margin: 5px 5px 10px 10px;
    height: 40%;
}

.costuse .chart-container{
    padding: 4% 3% 5% 3%;
    /* border: 2px solid gray; */
    height: 100%;
    width: 470px;
    /* margin-left: 20px; */
}

.costarea .chart-container{
    padding: 4% 3% 10% 3%;
    height: 100%;
    width: 100%;
    margin-top: 23px;
}