.keyword{
    display:flex;
    height: 900px;
    padding: 40px;
    padding-top: 30px;
    background-color: #edeef1;
}

.kwleft{
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    margin: 0px 10px 10px 10px;
    width: 50%;
}
.kwright {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    margin: 0px 10px 0px 10px;
    width: 50%;
}

.kwleft .chart-container{
    padding: 4% 3% 0 3%;
    width: 420px;
    /* margin-left: 500px; */
}

.kwright .chart-container{
    padding: 4% 3% 0 5%;
    width: 650px;
}

.kwdonut {
    height: 50%;
    /* border: 1px dotted black; */
    margin-bottom: 5px;
}

.kwbar {
    height: 50%;
}

.kwtable1 {
    flex-grow: 1;
}

.kwtable2 {
    flex-grow: 1;
}


