.keyword{
    display:flex;
    height: 900px;
    padding: 40px;
    padding-top: 30px;
    background-color: #edeef1;
}

.keywordtop{
    display: flex;
    background-color: rgb(255, 255, 255);
    margin: 0px 10px 10px 10px;
    width: 50%;
}
.keywordbottom {
    display: flex;
    background-color: rgb(255, 255, 255);
    margin: 0px 10px 0px 10px;
    width: 50%;
}

.keywordtop .chart-container{
    padding: 4% 3% 0 3%;
    width: 420px;
    /* margin-left: 500px; */
}

.keywordbottom .chart-container{
    padding: 8% 3% 0 3%;
    width: 750px;
}



