.keyword{
    display:flex;
    height: 960px;
    flex-direction: column;
}

.keywordtop{
    height:45%;
    display: flex;
    background-color: rgb(228, 228, 228);
    margin: 0px 10px 10px 10px;
    padding-left: 35%
}
.keywordbottom {
    height:55%;
    display: flex;
    background-color: rgb(228, 228, 228);
    margin: 0px 10px 0px 10px;
    padding-left: 27%
}

.keywordtop .chart-container{
    padding: 4% 3% 0 3%;
    border: 1px dotted gray;
    height: 100%;
    width: 420px;
    /* margin-left: 500px; */
}

.keywordbottom .chart-container{
    padding: 8% 3% 0 3%;
    border: 1px dotted gray;
    height: 100%;
    width: 750px;
}



