div.mainbox {
    display:flex;
    height: 960px;
}

div.mainleft {
    width: 40%;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
}
div.tourindex{
    height: 50%;
}
div.smallmenu{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

div.mainright{
    flex-grow: 1;
    display: flex;
}

.visitcost{
    height: 50%;
    background-color: limegreen;
    display: flex;
}

.tourkey{
    flex-grow:1;
    display: flex;
}

.visitormenu{
    width: 50%;
}

.costmenu{
    flex-grow: 1;
    background-color: lightskyblue;
}

.toursearch{
    width: 50%;
}

.keywordsearch{
    flex-grow: 1;
    background-color: lightsteelblue;
}
