.search{
    display:flex;
    height: 900px;
    flex-direction: column;
    padding: 40px;
    padding-top: 30px;
    background-color: #edeef1;
    
}

.scup{
    height: 50%;
    display: flex;
    
}

.scdown{
    flex-grow: 1;
    height: 50%;
    display: flex;
}

.scrank{
    width: 40%;
    background-color: rgb(255, 255, 255);
    margin: 0px 5px 5px 10px;
    box-shadow: 0 0 1px 1px rgb(0 0 0 / 10%);
}

.scdonut{
    width: 80%;
    height: 100%;
    /* background-color: rgb(255, 255, 225); */
 }

.scdonut .chart-container {
    /* margin-top: 20%; */
    width: 90%;
    height: 100px;
    padding-left: 120px;
    padding-top: 50px;
}



.scmap{
    flex-grow: 1;
    background-color: rgb(255, 255, 255);
    margin: 0px 10px 5px 5px;
    box-shadow: 0 0 1px 1px rgb(0 0 0 / 10%);
}

/* .sc_map .chart-container{
    padding: 4% 3% 0 3%;
    border: 2px solid gray;
    height: 60%;
    width: 500px;
} */

.scvisitors{
    width: 50%;
    background-color: rgb(255, 255, 255);
    margin: 5px 5px 10px 10px;
    display:flex;
    box-shadow: 0 0 1px 1px rgb(0 0 0 / 10%);
}

.scvisitors .chart-container{
    padding: 3% 2% 2% 2%;
    /* border: 1px dotted gray; */
    width: 80%;
    /* height: 70%; */
    /* margin-left: -2%; */
}

.scage{
    flex-grow: 1;
    background-color: rgb(255, 255, 255);
    margin: 5px 10px 10px 5px;
    width: 40%;
}

.sc_age .chart-container{
    padding: 4% 3% 0 3%;
    border: 2px solid gray;
    /* height: 30%; */
    width: 500px;
}

.scvup{
    width: 50%;
    /* border: 1px dotted black; */
    
}

.scvdown{
    flex-grow: 1;
    border-left: 2px solid #EDEEF1;
    /* border: 1px dotted black; */
    
}

.scvup .chart-container{
    height: 100%;
    width: 100%;
    /* border: 1px dotted black; */
    padding-top: 110px;
}

.scvdown .chart-container{
    /* height: 200px; */
    width: 100%;
    padding-top: 110px;
}

