.al {
    border-radius: 10%;
}

.visitor{
    height: 960px;
    display: flex;
    flex-direction: column;
}

.visitorup{
    height: 50%;
    display: flex;
}

.visitordown{
    flex-grow: 1;
    display: flex;
}

.inflow {
    width: 30%;
    background-color: lightslategray;
}

.areavisit{
    flex-grow: 1;
    background-color: lightpink;
}

.areavisitor{
    width: 50%;
    background-color: lightgray;
}

.monthvisitor{
    flex-grow: 1;
    background-color: mistyrose;
}